<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Service workers</title>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <link href="<%= asset_pack_path 'static/favicon.png' %>" type="image/png" rel="icon" />
</head>
<body>
  <div id="app"></div>
  <%= javascript_pack_tag "application" %>
</body>
</html>
